@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "./partials/loginpage";

$body-bg: rgb(40, 40, 40);
$body-color :rgb(44, 44, 44);
$primary:gold;


body {
    background-color: $body-bg;
    color: $body-color;
  }


a {
   color: $primary;
}

.carousel {
  max-height: 50vh;
}