

body{
  overflow-x: hidden;
}

.login-container {
    display: flex;
    min-height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
      background-image: url("../../assets/Login-Tattoo-studio.webp");
      background-size: cover;
      background-position: center;
  }
  
  .form-container {
    width: 400px;
    background-color: rgb(15, 14, 14);
    opacity: 90%;
    border-radius: 20px;
    min-height: 200px;
  }

  .btn-submit {
    background-color: rgb(15, 14, 14);
    border-color: #D4AF37;
    &:hover{
      background-color:#D4AF37;
      border-color: #D4AF37;
      color: rgb(15, 14, 14);
    }

  }

  .btn:first-child:active,
:not(.btn-check) + .btn:active {
  background-color: gold;
  border-color: gold
}
  
  .form-label {
    font-size: 14px;
  }