.navbar {
    background-color: rgba(127, 127, 127, 0);
}

.navbar-nav{
    a {
        font-weight: 600;
        color: #f3e998;

        &:hover {
            color: #b18e4c;
            text-shadow: 0px 0px 10px gold;
        }

    }
}

.profile-image{
    width: 35px;
    border-radius: 50%;
}

